*{
    font-family: 'Montserrat';
    background-color: #FAF0E7;
}
body{
 margin: 0px;
    color: black;
      display: grid;
      grid-template-rows:  [nav]auto minmax(auto, 100vh)auto;
      grid-auto-columns: 150px repeat(12, 1fr)  150px;
      grid-template-areas: "n n n n n n n n n n n n n n"
                            "a a a a a a a a a a a a a a"
                            "f f f f f f f f f f f f f f";
                            grid-gap: 20px;
                            margin: 0px;
}
nav{
   grid-area: n; 
   width: 100%;
   background-color: white;
}

nav>ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: [emri]65% [menu]auto;
      align-items: center;
}
nav>ul li{
    display: inline;
}
.emri{
    grid-column: emri;
}
.menu
{
    display: flex;
}
