*{
    font-family: 'Montserrat';
   
}
body{
    background-color: #FAF0E7;
 margin: 0px;
    color: black;
      display: grid;
      grid-template-rows:  [nav]auto [container]auto [footer]auto;
  }
nav{
grid-row: nav;
   width: 100%;
   background-color: white;
   position: fixed;
   box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.25);
   
}
nav>ul li{
    display: inline;
    
}
nav>ul{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.emri{
 flex-grow: 3;
    justify-content: space-around;
}
.menu{
    float: right;
      justify-content: space-around;
}
.menu>li{
margin-right: 40px;
}
li>a{
    text-decoration: none;
    color:black;
}
footer{
    grid-row: footer;
    background-color: #fff;
    display: flex;
    box-shadow: 0px -3px 14px rgba(0, 0, 0, 0.25)
}
.emriPersonal{
    width: 33%;
    text-align: center;
   
    
}
.contact{
    
        width: 33%;
        text-align: center;
       
    }
.socials{
    width: 33%;
    text-align: center;
}
