.work{
    width: 80%;
    background-color: rgb(250, 247, 243);
    margin: 40px 10%;
    height: 700px;
    display: grid;
    grid-template-columns: [first]50% [last]50%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.25);
}
.work:hover{
    border: 2px solid rgb(134, 86, 38);
    border-radius: 10px;
  background-color: #fff;
    
}
.resume{
    margin-top: 4%;
    color: black;
    font-size: 30px;
    text-align: center;
}
.img{
    height: 700px;
    
}
.rightIMG{
    width: 100%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}
.leftIMG{
        width: 100%;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
    }
.text{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    vertical-align:middle;
    margin-top: 50px;
    
}
    .exLargeP{
        font-size: 50px;
        line-height: 5px;
        }
        .mediumLarge{
            font-size: 40px;
            line-height: 5px;
        }
        .largeP{
            font-size: 25px;
            
        }
.pershkrimi{
    width: 70%;
    font-size: 20px;
    
    
}