.container{
    width: 100%;
    height: 100vh;
}
.card{
    width: 80%;
    background-color: rgb(250, 247, 243);
    margin: 5% 10%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
    text-align: center;
 
}
.card:hover{
    background-color:#fff ;
    border: 2px solid rgb(134, 86, 38);
    border-radius: 10px;
}
.frontend{
    width: 25%;
    border-right: 1px solid black;
   
}
.skills{
    display: flex;
    flex-flow: row wrap;
}

.programming{
    width: 25%;
    border-right: 1px solid black;
}
.design{
    width: 25%;
    border-right: 1px solid black;
}
.others{
    width: 24%;
    
}
.bold{
    font-weight: 600;
}
.languages{
    display: flex;
    flex-flow: row wrap;
}
.motherLanguages{
    width: 50%;
    border-right: 1px solid black;
}
.otherLanguages{
    width: 49%;
}